
.box-item
    border-radius: 5px!important
    .box-header
        .box-header-txt h4
            font-size: 1.3rem
        .box-icon
            padding: 0.2rem
            width: 30px
            height: 30px
            border: 1px solid $tc-blue-dark-1
            border-radius: 50px
            transition: transform .1s linear
            img
                width: 100%
                top: -1px
                position: relative
