.sections
    > .section
        position: relative
        &:nth-child(odd)
            background-color: $tc-grey-light
            .box-item
                background-color: $tc-white
            .timeline .content
                background-color: $tc-white
        &:nth-child(even)
            background-color: $tc-white
            .box-item
                background-color: $tc-grey-light
            .timeline .content
                background-color: $tc-grey-light

.progress
    height: 30px
    background-color: $tc-grey-light-3
    // border: 1px solid $tc-white
    z-index: 1
    *
        color: $tc-black
    .progress-bar
        background-color: $tc-grey
        font-weight: bold
        text-transform: uppercase
        line-height: 30px
        position: relative
        text-align: left

        padding-left: 20px
        overflow: visible
        white-space: nowrap
        // .progress-bar-text
        //     position: absolute
        //     left: 10px
