.sections
    position: relative
.sections-menu
    padding: 5px 0
    border-radius: 20px
    background-color: var(--tc-grey-light)
    // box-shadow: -3px -3px 7px rgba($tc-grey-dark, 0.5), 3px 3px 7px rgba($tc-grey-dark, 0.5), -3px 3px 7px rgba($tc-grey-dark, 0.5), 3px -3px 7px rgba($tc-grey-dark, 0.5)
    position: fixed
    z-index: 1000
    transform: translateY(-50%)
    top: 50%
    right: 5px
    border: 2px solid var(--tc-blue-dark-2)
    opacity: 0.3
    transition: opacity 0.3s linear
    &:hover
        opacity: 1
    .sections-menu-items
        li
            margin: 0 !important
        a
            padding: 3px 5px
            display: inline-block
            i
                color: var(--tc-blue-dark-2)
    // .sections-menu-icon
    //     height: 25px !important
    //     width: 25px !important
    //     filter: invert(1)
    //     @media (max-width: 600px)
    //         height: 20px !important
    //         width: 20px !important


body.dark-mode
    .sections-menu
        background-color: var(--tc-blue-dark-2)
        border-color: var(--tc-grey-light)
        .sections-menu-items li a i
            color: var(--tc-grey-light)
