body.dark-mode // background-color: $tc-blue-dark-3
    background-color: rgba($tc-blue-dark-3, 1)
    *
        color: $tc-white

    //.posts
        //border-top: 1px solid $tc-blue
        //background-color: $tc-blue-dark-4

    .pagination-wrapper
        display: flex
        .page-item
            &.disabled .page-link
                color: $tc-grey
            &.active .page-link
                color: $tc-white
                // border-color: $tc-white
                // background-color: $tc-blue
            .page-link
                background-color: $tc-blue-dark-4
            &:not(.active) .page-link:hover
                color: $tc-blue


    .posts
        .post
            border: 1px solid $tc-blue
            box-shadow: 0 1px 2px rgba($tc-blue-dark-2, 0.5), 0 1px 2px rgba($tc-blue-dark-2, 0.5)
            .post-data
                background-color: $tc-blue-dark-4
                //*
                    //color: $tc-black
            &:hover
                box-shadow: 0 0.5rem 2.5rem $tc-blue-dark-2
            .post-title h2, .btn-read-more a
                color: $tc-grey-light
        .post-form
            background-color: $tc-blue-dark-3
            .post-body-wrapper
                svg
                    color: $tc-white
                *
                    color: $tc-black-almost

    .header-menu-wrapper .header-menu .header-menu-item
        &:after
            background-color: $tc-white
        a
            color: $tc-white

    .page
        background-color: $tc-blue-dark-3
    .particles-js
        background-image: linear-gradient(rgba($tc-blue-dark-3, 1), rgba($tc-white, 0.2))
    .brand-slogan
        color: $tc-white
    .key-word
        color: $tc-blue-light-1
        // text-decoration: underline $tc-blue
        // background-color: $tc-blue
    .social-icons-wrapper
        .social-icon i
            color: $tc-white
    .section-title-line
        background-color: $tc-white
    .timeline
        &:after
            background-color: $tc-blue
        > .section
            &:nth-child(odd)
                &:before
                    border-color: transparent transparent transparent $tc-blue
            &:nth-child(even)
                &:before
                    border-color: transparent $tc-blue transparent transparent
            &:after
                border-color: $tc-blue
            .content
                border-color: $tc-blue
                .function
                    color: $tc-blue-light-1
                @media screen and (max-width: 768px)
                    border-top-color: $tc-blue!important
                    border-left-color: $tc-blue!important
                    border-bottom-color: $tc-blue!important
                    border-right: 3px solid $tc-blue


    .sections
        > .section
            .box-item
                border-color: transparent
            &:nth-child(odd)
                background-color: $tc-blue-dark-3
                .box-item
                    background-color: $tc-blue-dark-4
                .timeline .content
                    background-color: $tc-blue-dark-4
            &:nth-child(even)
                background-color: $tc-blue-dark-4
                .box-item
                    background-color: $tc-blue-dark-3
                .timeline .content
                    background-color: $tc-blue-dark-3
    .progress
        background-color: $tc-blue-dark-2
    .progress-bar
        color: $tc-white!important
        background-color: $tc-blue-dark-1

    .auth-box
        .login-form
            background-color: $tc-blue-dark-4
    input.form-control, input.form-control:focus
        color: $tc-white
        background-color: $tc-blue-dark-4

    input.form-control::placeholder
        color: $tc-white


    .not-found-container
        .not-found-header
            background-color: $tc-blue-dark-2
        .not-found-body
            background-color: $tc-blue-dark-4

    .sections-menu
        background-color: $tc-blue-dark-2
        border-color: $tc-grey-light
        .sections-menu-items li a i
            color: $tc-grey-light
