body.dark-mode // background-color: $tc-blue-dark-3
    background-color: rgba($tc-blue-dark-3, 1)
    *
        color: $tc-white

    .page
        background-color: $tc-blue-dark-3
    .particles-js
        background-image: linear-gradient(rgba($tc-blue-dark-3, 1), rgba($tc-white, 0.2))
    .brand-slogan
        color: $tc-white
    .key-word
        color: $tc-blue
        // text-decoration: underline $tc-blue
        // background-color: $tc-blue
    .social-icons-wrapper
        .social-icon i
            color: $tc-white
    .timeline
        &:after
            background-color: $tc-blue
        > .section
            &:nth-child(odd)
                &:before
                    border-color: transparent transparent transparent $tc-blue
                .content
                    border-top-color: $tc-blue
                    border-right-color: $tc-blue
                    border-bottom-color: $tc-blue
            &:nth-child(even)
                &:before
                    border-color: transparent $tc-blue transparent transparent
                .content
                    border-top-color: $tc-blue
                    border-left-color: $tc-blue
                    border-bottom-color: $tc-blue
            &:after
                border-color: $tc-blue
            .content
                .function
                    color: $tc-blue
                @media screen and (max-width: 992px)
                    border-top-color: $tc-blue!important
                    border-left-color: $tc-blue!important
                    border-bottom-color: $tc-blue!important
                    border-right: 3px solid $tc-blue


    .sections
        > .section
            &:nth-child(odd)
                background-color: $tc-blue-dark-4
                .box-item
                    background-color: $tc-blue-dark-3
                .timeline .content
                    background-color: $tc-blue-dark-3
            &:nth-child(even)
                background-color: $tc-blue-dark-3
                .box-item
                    background-color: $tc-blue-dark-4
                .timeline .content
                    background-color: $tc-blue-dark-4
