body.dark-mode // background-color: $tc-blue-dark-3
    background-color: rgba($tc-blue-dark-3, 1)
    h1, h2, h3, h4, h5, h6, p, ul, ol, li, div, i, span:is([class=""])
        color: $tc-white
    code:is([class=""])
        color: $tc-blue-dark-1

    //.posts
        //border-top: 1px solid $tc-blue
        //background-color: $tc-blue-dark-4



    .page
        background-color: $tc-blue-dark-3
    .particles-js
        background-image: linear-gradient(rgba($tc-blue-dark-3, 1), rgba($tc-white, 0.2))
    .brand-slogan
        color: $tc-white
    .key-word
        color: $tc-blue-light-1
        // text-decoration: underline $tc-blue
        // background-color: $tc-blue


    input.form-control, input.form-control:focus, textarea.form-control, textarea.form-control, textarea::placeholder
        color: $tc-white
        background-color: $tc-blue-dark-4

    input.form-control::placeholder
        color: $tc-white

