body
    font-family: Harmattan, serif !important

h1, h2, h3, h4
    font-weight: bold
    hyphens: auto
ul
    font-size: 1.4rem
    margin-left: .5rem
p
    font-size: 1.4rem !important
    line-height: 2rem
    margin-bottom: 0.5rem
    hyphens: auto

h3
    margin-top: 2.5rem
    margin-bottom: 1rem

h4
    margin-top: 2rem
    margin-bottom: 0.7rem

a
    text-decoration: underline

.keyword
    font-style: italic
    color: var(--tc-blue)

.keyword-2
    font-style: italic
    color: var(--tc-blue-dark-1)


/*.headline-wrapper h2 */
/*    line-height: 1.4*/
/**/
.page-content-headline
    margin-top: 1rem
    margin-bottom: 4rem
    line-height: 1.4
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
    letter-spacing: 2px
$val: 1px
$val2: 5px
.img-container
    margin: 1rem 0
    img
        border-radius: 5px
        box-shadow: -1*$val -1*$val $val2 rgba(177, 177, 177, 0.5), $val $val $val2 rgba(177, 177, 177, 0.5), -1*$val $val $val2 rgba(177, 177, 177, 0.5), $val -1*$val $val2 rgba(177, 177, 177, 0.5)

.profile-name
    background-image: linear-gradient(to top, #00437D 20%, #1DA1F2 80%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    color: var(--tc-blue) !important
    font-weight: bold
    font-size: 3.4rem
    line-height: 3.4rem
    //clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
    font-family: Harmattan, serif
    *
        color: var(--tc-blue) !important

.profile-link
    padding: 0 1rem
    font-size: 1.3rem
    &:first-child
        padding-left: 0
    &:not(:first-child)
        border-left: 1px solid #1DA1F2
    i
        color: var(--tc-blue-dark-2)
    a
        display: flex
        align-items: center
        gap: 5px
        text-decoration: none
        color: var(--tc-blue-dark-2)
.profile-image img
    height: 130px
    width: 130px
    border: 5px solid var(--tc-blue)
    border-radius: 50%

.copy-right-wrapper
    p, span
        font-size: 1.5rem !important

.report-actions
    margin-bottom: 0.5rem
    background-color: var(--tc-grey-light-1)
    border-radius: 0
    padding: 0.5rem 1rem
    border-left: 4px solid var(--tc-blue-dark-1)

body.dark-mode
    .profile-link
        a
            color: var(--tc-white)
    .report-actions
        background-color: var(--tc-blue-dark-4)
    //.keyword-2
    //    color: var(--tc-grey-dark)
@media (max-width: 576px)
    .profile-name
        font-size: 2.9rem

    .profile-link
        font-size: 1.1rem

    .profile-image img
        height: 100px
        width: 100px

