@import url(https://fonts.googleapis.com/css?family=Acme|Gloria+Hallelujah|Kalam:400,700|Caveat:400,700|Shadows+Into+Light&subset=devanagari,cyrillic,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Londrina+Shadow|Londrina+Sketch|Istok+Web);
@charset "UTF-8";
:root {
  --tc-white: #ffffff;
  --tc-blue-light-1: #8fd4ff;
  --tc-blue: #1DA1F2;
  --tc-blue-dark-1: #337AB7;
  --tc-blue-dark-2: #00437D;
  --tc-blue-dark-3: #09182F;
  --tc-blue-dark-4: #0e2547;
  --tc-grey: #dfdfdf;
  --tc-grey-light: #f9f9f9;
  --tc-grey-light-2: #fafafa;
  --tc-grey-dark: #b1b1b1;
  --tc-black-light: #707070;
  --tc-black: #222222;
  --tc-black-almost: #313a3f;
  --tc-black-almost-1: #2c2f33;
  --tc-yellow: #FFC700;
  --tc-oil: #c5c800;
  --tc-green-light: #97C024;
  --tc-red-light: #DB5844;
  --navbar-height: 56px;
}

@font-face {
  font-family: "MyEpicSelfie";
  src: url("/assets/fonts/My Epic Selfie.woff2") format("woff2"), url("/assets/fonts/My Epic Selfie.woff") format("woff"), url("/assets/fonts/My Epic Selfie.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "IstokWeb";
  src: url("/assets/fonts/istokweb.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Harmattan";
  src: url("/assets/fonts/Harmattan-Regular.ttf") format("truetype"), url("/assets/fonts/Harmattan-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Untitled-Sans;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/UntitledSansWeb-Regular.woff2") format("woff2"), url("/assets/fonts/UntitledSansWeb-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: Untitled-Sans;
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/UntitledSansWeb-RegularItalic.woff2") format("woff2"), url("/assets/fonts/UntitledSansWeb-RegularItalic.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: Untitled-Sans;
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/UntitledSansWeb-Medium.woff2") format("woff2"), url("/assets/fonts/UntitledSansWeb-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: Untitled-Sans;
  font-style: italic;
  font-weight: 600;
  src: url("/assets/fonts/UntitledSansWeb-MediumItalic.woff2") format("woff2"), url("/assets/fonts/UntitledSansWeb-MediumItalic.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: Untitled-Sans;
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/UntitledSansWeb-Bold.woff2") format("woff2"), url("/assets/fonts/UntitledSansWeb-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: Untitled-Sans;
  font-style: italic;
  font-weight: 700;
  src: url("/assets/fonts/UntitledSansWeb-BoldItalic.woff2") format("woff2"), url("/assets/fonts/UntitledSansWeb-BoldItalic.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: GT-America;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/GT-America-Standard-Regular.woff2") format("woff2"), url("/assets/fonts/GT-America-Standard-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: GT-America;
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/GT-America-Standard-Regular-Italic.woff2") format("woff2"), url("/assets/fonts/GT-America-Standard-Regular-Italic.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: GT-America;
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/GT-America-Standard-Medium.woff2") format("woff2"), url("/assets/fonts/GT-America-Standard-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: GT-America;
  font-style: italic;
  font-weight: 500;
  src: url("/assets/fonts/GT-America-Standard-Medium-Italic.woff2") format("woff2"), url("/assets/fonts/GT-America-Standard-Medium-Italic.woff") format("woff");
  font-display: swap;
}
@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  17% {
    transform: scale(1.1);
  }
  35% {
    transform: scale(1);
  }
  52% {
    transform: scale(1.1);
  }
  70%, 100% {
    transform: scale(1);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spinBound {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.5);
  }
  100% {
    transform: rotate(360deg) scale(0);
  }
}
@keyframes spinClockWiseReverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spinClockWise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes upAndDown {
  0% {
    transform: translateY(-10%) translateX(-50%);
  }
  100% {
    transform: translateY(10%) translateX(-50%);
  }
}
@keyframes pushed {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.tc-container {
  background-color: red;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .tc-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .tc-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .tc-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .tc-container {
    max-width: 1000px;
  }
}

.page, .page-content {
  position: relative;
  background-color: #ffffff;
}

.page-content {
  border-top: 1px solid #dfdfdf;
}

.dark-mode .page, .dark-mode .page-content {
  background-color: #09182F;
}
.dark-mode .page-content {
  border-top: 1px solid #1DA1F2;
}

.section-border-top {
  border-top: 1px solid #dfdfdf;
}

.square-20 {
  width: 20px !important;
  height: 20px !important;
}

.square-25 {
  width: 25px !important;
  height: 25px !important;
}

.square-30 {
  width: 30px !important;
  height: 30px !important;
}

.square-35 {
  width: 35px !important;
  height: 35px !important;
}

.square-40 {
  width: 40px !important;
  height: 40px !important;
}

.square-45 {
  width: 45px !important;
  height: 45px !important;
}

.square-50 {
  width: 50px !important;
  height: 50px !important;
}

.square-70 {
  width: 50px !important;
  height: 50px !important;
}

.square-75 {
  width: 75px !important;
  height: 75px !important;
}

.square-100 {
  width: 100px !important;
  height: 100px !important;
}

.br-5px {
  border-radius: 5px;
}

.br-none {
  border-radius: 0 !important;
}

.ff-primary {
  font-family: "IstokWeb" !important;
}

.funny-font {
  font-family: "MyEpicSelfie" !important;
}

.text-decoration-underline {
  text-decoration: underline;
}

.capitalize-first-letter:first-letter {
  text-transform: capitalize;
}

.white-space-normal {
  white-space: normal;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

.word-break-break-word {
  word-break: break-word;
}

.white-space-nowrap {
  white-space: nowrap;
}

.bold {
  font-weight: 900;
}

.font-weight-bolder {
  font-weight: bolder;
}

.line-height-40 {
  line-height: 40px;
}

.link-undecorated {
  color: #ffffff;
}
.link-undecorated:hover {
  text-decoration: underline;
  color: #ffffff;
}

.fs-small {
  font-size: 0.8rem;
}

.animated-underline {
  position: relative;
}
.animated-underline:hover::after, .animated-underline:focus::after, .animated-underline.active::after {
  opacity: 1;
  transform: scale(1);
}
.animated-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #707070;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  transform: scale(0);
  transform-origin: center;
}

.tc-white {
  color: #ffffff;
}

.tc-white-bg {
  background-color: #ffffff;
}

.tc-blue-light-1, .tc-blue-light-1-hover:hover {
  color: #8fd4ff;
}

.tc-blue-light-1-bg {
  color: #ffffff;
  background-color: #8fd4ff;
}

.tc-blue, .tc-blue-hover:hover {
  color: #1DA1F2;
}

.tc-blue-bg {
  color: #ffffff;
  background-color: #1DA1F2;
}

.tc-blue-dark-1, .tc-blue-dark-1-hover:hover {
  color: #337AB7;
}

.tc-blue-dark-1-bg {
  color: #ffffff;
  background-color: #337AB7;
}

.tc-blue-dark-2, .tc-blue-dark-2-hover:hover {
  color: #00437D;
}

.tc-blue-dark-2-bg {
  color: #ffffff;
  background-color: #00437D;
}

.tc-blue-dark-3, .tc-blue-dark-3-hover:hover {
  color: #09182F;
}

.tc-blue-dark-3-bg {
  color: #ffffff;
  background-color: #09182F;
}

.tc-grey, .tc-grey-hover:hover {
  color: #dfdfdf;
}

.tc-grey-bg {
  color: #ffffff;
  background-color: #dfdfdf;
}

.tc-grey-light, .tc-grey-light-hover:hover {
  color: #f9f9f9;
}

.tc-grey-light-bg {
  color: #ffffff;
  background-color: #f9f9f9;
}

.tc-grey-dark, .tc-grey-dark-hover:hover {
  color: #b1b1b1;
}

.tc-grey-dark-bg {
  color: #ffffff;
  background-color: #b1b1b1;
}

.tc-black-light, .tc-black-light-hover:hover {
  color: #707070;
}

.tc-black-light-bg {
  color: #ffffff;
  background-color: #707070;
}

.tc-black, .tc-black-hover:hover {
  color: #222222;
}

.tc-black-bg {
  color: #ffffff;
  background-color: #222222;
}

.tc-black-almost, .tc-black-almost-hover:hover {
  color: #313a3f;
}

.tc-black-almost-bg {
  color: #ffffff;
  background-color: #313a3f;
}

.tc-black-almost-1, .tc-black-almost-1-hover:hover {
  color: #2c2f33;
}

.tc-black-almost-1-bg {
  color: #ffffff;
  background-color: #2c2f33;
}

.key-word-reverse {
  color: #337AB7;
  text-decoration: underline;
}

.key-word {
  color: #00437D;
  text-decoration: underline;
}

.py-2rem {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-3rem {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-4rem {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-6rem {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-50px {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .py-md-4rem {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .py-md-80px {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .py-md-100px {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .py-md-150px {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
.fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.disappear {
  display: none;
}

.pointer {
  cursor: pointer;
}

.tc-scroll::-webkit-scrollbar, .gist .Box-body::-webkit-scrollbar, pre::-webkit-scrollbar, code::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.tc-scroll::-webkit-scrollbar-corner, .gist .Box-body::-webkit-scrollbar-corner, pre::-webkit-scrollbar-corner, code::-webkit-scrollbar-corner {
  background-color: transparent;
}
.tc-scroll::-webkit-scrollbar-thumb, .gist .Box-body::-webkit-scrollbar-thumb, pre::-webkit-scrollbar-thumb, code::-webkit-scrollbar-thumb {
  background-color: #1DA1F2;
  border-radius: 3px;
}
.tc-scroll::-webkit-scrollbar-track, .gist .Box-body::-webkit-scrollbar-track, pre::-webkit-scrollbar-track, code::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.loader-wrapper {
  position: fixed;
  width: 100%;
  z-index: 1090;
  top: 0;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-wrapper .loader img {
  max-width: 200px;
  transition: transform 1s linear;
  animation: spinBound 1s linear forwards;
}

.disappear {
  transition: opacity 1s linear;
  animation: disappear 1s linear normal forwards;
}

.mouse-icon-wrapper {
  transform: translateY(-10%) translateX(-50%);
  position: absolute;
  bottom: -20px;
  left: 50%;
  z-index: 1000;
  animation: upAndDown 1s ease infinite alternate;
}
.mouse-icon-wrapper img {
  height: 40px;
}

.particles-js {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.social-icons-wrapper {
  background-color: transparent;
}
@media (max-width: 767px) {
  .social-icons-wrapper .list-group {
    justify-content: center;
  }
}
.social-icons-wrapper .social-icon i {
  color: #337AB7;
  font-size: 1.5rem;
}

.wrapper-dark-mode {
  z-index: 999;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.wrapper-dark-mode .toggle-dark-mode {
  width: 50px;
  height: 50px;
  background-color: #09182F;
  border: 1px solid #09182F;
  border-radius: 50%;
  box-shadow: -5px -5px 10px rgba(177, 177, 177, 0.5), 5px 5px 10px rgba(177, 177, 177, 0.5), -5px 5px 10px rgba(177, 177, 177, 0.5), 5px -5px 10px rgba(177, 177, 177, 0.5);
}

.wrapper-dark-mode .toggle-dark-mode i.icon-mode {
  color: #ffffff;
  font-size: 1.3rem;
  top: 2px;
  position: relative;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.wrapper-dark-mode .toggle-dark-mode i.icon-mode:before {
  content: "\f0eb";
}

.toggle-dark-mode.pushed {
  animation: pushed 0.3s linear;
}

body.dark-mode .wrapper-dark-mode .toggle-dark-mode {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
body.dark-mode .wrapper-dark-mode .toggle-dark-mode i.icon-mode {
  color: #09182F;
  font-size: 1.7rem;
}

.alert-box {
  z-index: 999;
  max-width: 400px;
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 5px;
}

.alert {
  margin: 0;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
}

.alert-close {
  z-index: 1;
  position: absolute;
  top: 5px;
  right: 7px;
}

.banner {
  position: relative;
}
.banner > .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .banner > .container {
    justify-content: start;
    padding-left: 1rem;
  }
}
.banner .banner-wrapper {
  padding: 15px 10px 15px 5px;
}
.banner .banner-text {
  position: relative;
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.banner .banner-text * {
  font-size: 1.2rem;
  color: #ffffff;
}
@media (max-width: 576px) {
  .banner .banner-text .meta-data {
    display: block;
  }
  .banner .banner-text * {
    font-size: 1.1rem;
  }
}
.banner .banner-text .title {
  font-weight: bolder;
}
.banner .banner-close {
  display: inline-flex;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.banner .banner-close * {
  color: white;
}
.banner .tooltip {
  position: absolute;
  transform-origin: top center;
  transform: translateX(-50%) scale(0.2);
  left: 50%;
  top: 30px;
  z-index: -1;
  transition: transform 0.2s linear;
  width: 100%;
}
.banner .tooltip.show {
  z-index: 1080;
  transform: translateX(-50%) scale(1);
}
.banner .tooltip .tooltip-arrow {
  left: calc(50% - 0.4rem);
}
.banner .tooltip .tooltip-inner {
  max-width: unset;
}

.banner.special {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1100;
}

.flags {
  z-index: 999;
  width: 40px;
  position: fixed;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flags .flag-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
.flags .flag-link .flag {
  text-transform: uppercase;
  overflow: hidden;
  height: 40px;
  width: 40px;
  color: #ffffff;
  background-color: #00437D;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
}

.menu {
  background-color: transparent;
  position: relative;
  z-index: 1000;
}
.menu .menu-item i {
  font-size: 0.7rem;
}

.menu-wrapper .menu .menu-item {
  position: relative;
  padding-bottom: 3px;
}
.menu-wrapper .menu .menu-item a {
  color: #ffffff;
}

.header-menu-wrapper .header-menu .header-menu-item:after {
  background-color: #337AB7;
}
.header-menu-wrapper .header-menu .header-menu-item a {
  text-decoration: none;
  color: #337AB7;
}

.page-footer {
  position: relative;
}
.page-footer * {
  color: #FAFAFA;
  font-size: 1.2rem;
}
.page-footer > .container-fluid {
  background-image: radial-gradient(circle at 1% 100%, #1DA1F2, #00437D);
  padding: 0 15px;
}
.page-footer > .container-fluid .extra-data-wrapper .brand-text {
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 2rem;
}
.page-footer > .container-fluid .extra-data-wrapper .logo-brand {
  transform: scale(1.3);
  margin: 0 1px 0 -3px;
  top: -6.5px;
}
.page-footer > .container-fluid .extra-data-wrapper .text-body p {
  font-size: 1rem;
}
.page-footer > .container-fluid .extra-data-wrapper .extra-links-list .extra-links-item a {
  display: inline-block;
  color: #dfdfdf;
}
.page-footer > .container-fluid .extra-data-wrapper .extra-links-list .extra-links-item a:hover {
  color: #ffffff;
}
@media (max-width: 767px) {
  .page-footer > .container-fluid .extra-data-wrapper .row .extra-links {
    margin-top: 3rem;
  }
  .page-footer > .container-fluid .extra-data-wrapper .row .extra-links .extra-links-item {
    display: inline-block;
  }
  .page-footer > .container-fluid .extra-data-wrapper .row .extra-links .extra-links-item:not(:last-child):after {
    content: " ·";
    color: #b1b1b1;
    font-size: 1.5rem;
    vertical-align: sub;
    margin-left: 2px;
    margin-right: 4px;
  }
}
.page-footer > .container-fluid .copy-right-wrapper * {
  font-size: 1rem;
}
.page-footer .footer-separator {
  border-top: 1px solid rgba(223, 223, 223, 0.15);
  margin: 0 auto;
  width: 80%;
}
.page-footer p {
  margin: 0;
}
.page-footer i {
  font-size: 1rem;
}
.page-footer .owner i.fa-heart {
  color: #ffffff;
  animation: heartBeat 0.7s linear infinite;
}

* {
  outline: none;
}

html {
  position: relative !important;
  scroll-behavior: smooth;
}

body {
  font-family: "IstokWeb" !important;
  color: #313a3f;
}

a {
  color: #1DA1F2;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.list-group {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.list-group .list-group-item {
  margin: 5px;
  display: inline-block;
  padding: 0;
  background-color: transparent;
  border: none;
}
.list-group .list-group-item.link {
  transition: all 0.3s ease;
  transform: scale(1);
}
.list-group .list-group-item.link:hover {
  transform: scale(1.1);
}
.list-group .list-group-item img {
  height: 100px;
  width: 100px;
  display: inline-block;
}

body.dark-mode {
  background-color: #09182f;
}
body.dark-mode a, body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, body.dark-mode h4, body.dark-mode h5, body.dark-mode h6, body.dark-mode p, body.dark-mode ul, body.dark-mode ol, body.dark-mode li, body.dark-mode div, body.dark-mode i, body.dark-mode span:not([class*=hljs]) {
  color: #ffffff;
}
body.dark-mode code:not([class*=hljs]) {
  color: #337AB7;
}
body.dark-mode .pagination-wrapper {
  display: flex;
}
body.dark-mode .pagination-wrapper .page-item.disabled .page-link {
  color: #dfdfdf;
}
body.dark-mode .pagination-wrapper .page-item.active .page-link {
  color: #ffffff;
}
body.dark-mode .pagination-wrapper .page-item .page-link {
  background-color: #0e2547;
}
body.dark-mode .pagination-wrapper .page-item:not(.active) .page-link:hover {
  color: #1DA1F2;
}
body.dark-mode .posts .post {
  border: 1px solid #1DA1F2;
  box-shadow: 0 1px 2px rgba(0, 67, 125, 0.5), 0 1px 2px rgba(0, 67, 125, 0.5);
}
body.dark-mode .posts .post .post-title * {
  color: #1DA1F2;
}
body.dark-mode .posts .post .post-data {
  background-color: #0e2547;
}
body.dark-mode .posts .post:hover {
  box-shadow: 0 0.5rem 2.5rem #00437D;
}
body.dark-mode .posts .post .post-title h2, body.dark-mode .posts .post .btn-read-more a {
  color: #f9f9f9;
}
body.dark-mode .posts .post-form {
  background-color: #09182F;
}
body.dark-mode .posts .post-form .post-body-wrapper svg {
  color: #ffffff;
}
body.dark-mode .posts .post-form .post-body-wrapper * {
  color: #313a3f;
}
body.dark-mode .post-page .post .post-title * {
  color: #1DA1F2;
}
body.dark-mode .header-menu-wrapper .header-menu .header-menu-item:after {
  background-color: #ffffff;
}
body.dark-mode .header-menu-wrapper .header-menu .header-menu-item a {
  color: #ffffff;
}
body.dark-mode .page {
  background-color: #09182F;
}
body.dark-mode .particles-js {
  background-image: linear-gradient(#09182f, rgba(255, 255, 255, 0.2));
}
body.dark-mode .brand-slogan {
  color: #ffffff;
}
body.dark-mode .key-word {
  color: #8fd4ff;
}
body.dark-mode .social-icons-wrapper .social-icon i {
  color: #ffffff;
}
body.dark-mode .section-title-line {
  background-color: #ffffff;
}
body.dark-mode .timeline:after {
  background-color: #1DA1F2;
}
body.dark-mode .timeline > .section:nth-child(odd):before {
  border-color: transparent transparent transparent #1DA1F2;
}
body.dark-mode .timeline > .section:nth-child(even):before {
  border-color: transparent #1DA1F2 transparent transparent;
}
body.dark-mode .timeline > .section:after {
  border-color: #1DA1F2;
}
body.dark-mode .timeline > .section .content {
  border-color: #1DA1F2;
}
body.dark-mode .timeline > .section .content .function {
  color: #8fd4ff;
}
@media screen and (max-width: 768px) {
  body.dark-mode .timeline > .section .content {
    border-top-color: #1DA1F2 !important;
    border-left-color: #1DA1F2 !important;
    border-bottom-color: #1DA1F2 !important;
    border-right: 3px solid #1DA1F2;
  }
}
body.dark-mode .sections > .section:nth-child(odd) {
  background-color: #09182F;
}
body.dark-mode .sections > .section:nth-child(odd) .box-item {
  background-color: #0e2547;
}
body.dark-mode .sections > .section:nth-child(odd) .timeline .content {
  background-color: #0e2547;
}
body.dark-mode .sections > .section:nth-child(even) {
  background-color: #0e2547;
}
body.dark-mode .sections > .section:nth-child(even) .box-item {
  background-color: #09182F;
}
body.dark-mode .sections > .section:nth-child(even) .timeline .content {
  background-color: #09182F;
}
body.dark-mode .progress {
  background-color: #00437D;
}
body.dark-mode .progress-bar {
  color: #ffffff !important;
  background-color: #337AB7;
}
body.dark-mode .auth-box .login-form {
  background-color: #0e2547;
}
body.dark-mode input.form-control, body.dark-mode input.form-control:focus {
  color: #ffffff;
  background-color: #0e2547;
}
body.dark-mode input.form-control::-moz-placeholder {
  color: #ffffff;
}
body.dark-mode input.form-control::placeholder {
  color: #ffffff;
}
body.dark-mode .not-found-container .not-found-header {
  background-color: #00437D;
}
body.dark-mode .not-found-container .not-found-body {
  background-color: #0e2547;
}

.list-group .list-group-item {
  border-radius: 0 !important;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

ol, ul {
  padding-left: 1rem;
}

code {
  font-size: 1.1rem;
}

.youtube-container, .iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fc-icon {
  color: #ffffff;
}

.modal {
  z-index: 9999;
}

.form-control:focus, .btn:focus {
  box-shadow: unset !important;
}

.actions .accordion-button {
  background-color: #00437D;
  color: #ffffff;
}
.actions .accordion-button:not(.collapsed) {
  color: #ffffff;
}

.navbar-toggler:focus {
  box-shadow: unset;
}

.table th, .table td {
  min-width: 120px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

.owl-carousel {
  cursor: grab;
  padding-top: 30px;
}
.owl-carousel:active {
  cursor: grabbing;
}
.owl-carousel .owl-stage {
  margin-bottom: 1rem;
  display: flex;
}
.owl-carousel .owl-item {
  float: unset;
  padding: 0 10px;
}
.owl-carousel .owl-item.active:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 20%;
  height: 60%;
  left: 2px;
  width: 2px;
  background-color: #dfdfdf;
  border-left: 1px solid #dfdfdf;
}
@media (max-width: 576px) {
  .owl-carousel .owl-item.active:nth-child(2)::before {
    content: none;
  }
}
.owl-carousel .owl-carousel-item .owl-carousel-item-wrapper {
  display: flex;
  justify-content: center;
}
.owl-carousel .owl-carousel-item .owl-carousel-item-wrapper .owl-carousel-img img {
  border: 3px solid #1DA1F2;
}
.owl-carousel .owl-carousel-item .owl-carousel-item-wrapper .owl-carousel-img, .owl-carousel .owl-carousel-item .owl-carousel-item-wrapper .owl-carousel-txt {
  display: flex;
  justify-content: center;
}
.owl-carousel .owl-carousel-item .owl-carousel-item-wrapper .owl-carousel-txt {
  margin-top: 1.5rem;
  width: 100%;
  text-align: center;
  flex-direction: column;
}
.owl-carousel .owl-carousel-item .owl-carousel-item-wrapper .owl-carousel-txt small {
  margin-top: 7px;
}
.owl-carousel .owl-carousel-item .owl-carousel-item-wrapper .owl-carousel-txt small:before {
  content: "— ";
}

.post-form {
  background-color: #f9f9f9;
}
.post-form .post-body-wrapper * {
  color: unset;
}

.gist-meta {
  display: none !important;
}

.gist-data {
  padding: 3px 10px 3px 0 !important;
  border-bottom: unset !important;
}

.dark-mode .gist {
  font-size: 18px;
}
.dark-mode .gist-data {
  background-color: #1D1F21 !important;
}
.dark-mode .gist-file,
.dark-mode .octotree_toggle,
.dark-mode ul.comparison-list > li.title,
.dark-mode button.button,
.dark-mode a.button,
.dark-mode span.button,
.dark-mode button.minibutton,
.dark-mode a.minibutton,
.dark-mode span.minibutton,
.dark-mode .clone-url-button > .clone-url-link {
  background: linear-gradient(#202020, #181818) !important;
  border-color: #383838 !important;
  border-radius: 0 0 3px 3px !important;
  text-shadow: none !important;
  color: #b5b5b5 !important;
}
.dark-mode .markdown-format pre,
.dark-mode .markdown-body pre,
.dark-mode .markdown-format .highlight pre,
.dark-mode .markdown-body .highlight pre,
.dark-mode body.blog pre,
.dark-mode #facebox pre,
.dark-mode .blob-expanded,
.dark-mode .terminal,
.dark-mode .copyable-terminal,
.dark-mode #notebook .input_area,
.dark-mode .blob-code-context,
.dark-mode .markdown-format code,
.dark-mode body.blog pre > code,
.dark-mode .api pre,
.dark-mode .api code,
.dark-mode .CodeMirror,
.dark-mode .highlight {
  background-color: #1D1F21 !important;
  color: #C5C8C6 !important;
}
.dark-mode .gist .blob-code {
  padding: 1px 10px !important;
  text-align: left;
  background: #000;
  border: 0;
}
.dark-mode .gist::-moz-selection {
  background: #24890d;
  color: #fff;
  text-shadow: none;
}
.dark-mode .gist::selection {
  background: #24890d;
  color: #fff;
  text-shadow: none;
}
.dark-mode .gist::-moz-selection {
  background: #24890d;
  color: #fff;
  text-shadow: none;
}
.dark-mode .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  color: #6B6B6B !important;
  border: 0;
}
.dark-mode .blob-code,
.dark-mode .blob-code-inner {
  color: #C5C8C6 !important;
}
.dark-mode .pl-c,
.dark-mode .pl-c span {
  color: #969896 !important;
  font-style: italic !important;
}
.dark-mode .pl-c1 {
  color: #DE935F !important;
}
.dark-mode .pl-cce {
  color: #DE935F !important;
}
.dark-mode .pl-cn {
  color: #DE935F !important;
}
.dark-mode .pl-coc {
  color: #DE935F !important;
}
.dark-mode .pl-cos {
  color: #B5BD68 !important;
}
.dark-mode .pl-e {
  color: #F0C674 !important;
}
.dark-mode .pl-ef {
  color: #F0C674 !important;
}
.dark-mode .pl-en {
  color: #F0C674 !important;
}
.dark-mode .pl-enc {
  color: #DE935F !important;
}
.dark-mode .pl-enf {
  color: #F0C674 !important;
}
.dark-mode .pl-enm {
  color: #F0C674 !important;
}
.dark-mode .pl-ens {
  color: #DE935F !important;
}
.dark-mode .pl-ent {
  color: #B294BB !important;
}
.dark-mode .pl-entc {
  color: #F0C674 !important;
}
.dark-mode .pl-enti {
  color: #F0C674 !important;
  font-weight: 700 !important;
}
.dark-mode .pl-entm {
  color: #C66 !important;
}
.dark-mode .pl-eoa {
  color: #B294BB !important;
}
.dark-mode .pl-eoac {
  color: #C66 !important;
}
.dark-mode .pl-eoac .pl-pde {
  color: #C66 !important;
}
.dark-mode .pl-eoai {
  color: #B294BB !important;
}
.dark-mode .pl-eoai .pl-pde {
  color: #B294BB !important;
}
.dark-mode .pl-eoi {
  color: #F0C674 !important;
}
.dark-mode .pl-k {
  color: #B294BB !important;
}
.dark-mode .pl-ko {
  color: #B294BB !important;
}
.dark-mode .pl-kolp {
  color: #B294BB !important;
}
.dark-mode .pl-kos {
  color: #DE935F !important;
}
.dark-mode .pl-kou {
  color: #DE935F !important;
}
.dark-mode .pl-mai .pl-sf {
  color: #C66 !important;
}
.dark-mode .pl-mb {
  color: #B5BD68 !important;
  font-weight: 700 !important;
}
.dark-mode .pl-mc {
  color: #B294BB !important;
}
.dark-mode .pl-mh .pl-pdh {
  color: #DE935F !important;
}
.dark-mode .pl-mi {
  color: #B294BB !important;
  font-style: italic !important;
}
.dark-mode .pl-ml {
  color: #B5BD68 !important;
}
.dark-mode .pl-mm {
  color: #C66 !important;
}
.dark-mode .pl-mp {
  color: #81A2BE !important;
}
.dark-mode .pl-mp1 .pl-sf {
  color: #81A2BE !important;
}
.dark-mode .pl-mq {
  color: #DE935F !important;
}
.dark-mode .pl-mr {
  color: #B294BB !important;
}
.dark-mode .pl-ms {
  color: #B294BB !important;
}
.dark-mode .pl-pdb {
  color: #B5BD68 !important;
  font-weight: 700 !important;
}
.dark-mode .pl-pdc {
  color: #969896 !important;
  font-style: italic !important;
}
.dark-mode .pl-pdc1 {
  color: #DE935F !important;
}
.dark-mode .pl-pde {
  color: #DE935F !important;
}
.dark-mode .pl-pdi {
  color: #B294BB !important;
  font-style: italic !important;
}
.dark-mode .pl-pds {
  color: #B5BD68 !important;
}
.dark-mode .pl-pdv {
  color: #C66 !important;
}
.dark-mode .pl-pse {
  color: #DE935F !important;
}
.dark-mode .pl-pse .pl-s2 {
  color: #DE935F !important;
}
.dark-mode .pl-s {
  color: #B294BB !important;
}
.dark-mode .pl-s1 {
  color: #B5BD68 !important;
}
.dark-mode .pl-s2 {
  color: #c5c8c6 !important;
}
.dark-mode .pl-mp .pl-s3 {
  color: #B294BB !important;
}
.dark-mode .pl-s3 {
  color: #81a2be !important;
}
.dark-mode .pl-sc {
  color: #c5c8c6 !important;
}
.dark-mode .pl-scp {
  color: #DE935F !important;
}
.dark-mode .pl-sf {
  color: #DAD085 !important;
}
.dark-mode .pl-smc {
  color: #F0C674 !important;
}
.dark-mode .pl-smi {
  color: #c5c8c6 !important;
}
.dark-mode .pl-smp {
  color: #c5c8c6 !important;
}
.dark-mode .pl-sok {
  color: #B294BB !important;
}
.dark-mode .pl-sol {
  color: #B5BD68 !important;
}
.dark-mode .pl-som {
  color: #C66 !important;
}
.dark-mode .pl-sr {
  color: #C66 !important;
}
.dark-mode .pl-sra {
  color: #B294BB !important;
}
.dark-mode .pl-src {
  color: #B294BB !important;
}
.dark-mode .pl-sre {
  color: #B294BB !important;
}
.dark-mode .pl-st {
  color: #B294BB !important;
}
.dark-mode .pl-stj {
  color: #c5c8c6 !important;
}
.dark-mode .pl-stp {
  color: #DE935F !important;
}
.dark-mode .pl-sv {
  color: #DE935F !important;
}
.dark-mode .pl-v {
  color: #DE935F !important;
}
.dark-mode .pl-vi {
  color: #DE935F !important;
}
.dark-mode .pl-vo {
  color: #C66 !important;
}
.dark-mode .pl-vpf {
  color: #DE935F !important;
}
.dark-mode .pl-mi1 {
  color: #8F9D6A !important;
  background: rgba(0, 64, 0, 0.5) !important;
}
.dark-mode .pl-mdht {
  color: #8F9D6A !important;
  background: rgba(0, 64, 0, 0.5) !important;
}
.dark-mode .pl-md {
  color: #C66 !important;
  background: rgba(64, 0, 0, 0.5) !important;
}
.dark-mode .pl-mdhf {
  color: #C66 !important;
  background: rgba(64, 0, 0, 0.5) !important;
}
.dark-mode .pl-mdr {
  color: #DE935F !important;
  font-weight: 400 !important;
}
.dark-mode .pl-mdh {
  color: #C66 !important;
  font-weight: 400 !important;
}
.dark-mode .pl-mdi {
  color: #C66 !important;
  font-weight: 400 !important;
}
.dark-mode .pl-ib {
  background-color: #C66 !important;
}
.dark-mode .pl-id {
  background-color: #C66 !important;
  color: #fff !important;
}
.dark-mode .pl-ii {
  background-color: #C66 !important;
  color: #fff !important;
}
.dark-mode .pl-iu {
  background-color: #C66 !important;
}
.dark-mode .pl-mo {
  color: #c5c8c6 !important;
}
.dark-mode .pl-mri {
  color: #DE935F !important;
}
.dark-mode .pl-ms1 {
  background-color: #c5c8c6 !important;
}
.dark-mode .pl-va {
  color: #DE935F !important;
}
.dark-mode .pl-vpu {
  color: #DE935F !important;
}
.dark-mode .pl-entl {
  color: #c5c8c6 !important;
}
.dark-mode .CodeMirror-gutters {
  background: #222 !important;
  border-right: 1px solid #484848 !important;
}
.dark-mode .CodeMirror-guttermarker {
  color: #fff !important;
}
.dark-mode .CodeMirror-guttermarker-subtle {
  color: #aaa !important;
}
.dark-mode .CodeMirror-linenumber {
  color: #aaa !important;
}
.dark-mode .CodeMirror-cursor {
  border-left: 1px solid #fff !important;
}
.dark-mode .CodeMirror-activeline-background {
  background: #27282E !important;
}
.dark-mode .CodeMirror-matchingbracket {
  outline: 1px solid grey !important;
  color: #fff !important;
}
.dark-mode .cm-keyword {
  color: #f9ee98 !important;
}
.dark-mode .cm-atom {
  color: #FC0 !important;
}
.dark-mode .cm-number {
  color: #ca7841 !important;
}
.dark-mode .cm-def {
  color: #8DA6CE !important;
}
.dark-mode .cm-variable-2,
.dark-mode span.cm-tag {
  color: #607392 !important;
}
.dark-mode .cm-variable-3,
.dark-mode span.cm-def {
  color: #607392 !important;
}
.dark-mode .cm-operator {
  color: #cda869 !important;
}
.dark-mode .cm-comment {
  color: #777 !important;
  font-style: italic !important;
  font-weight: 400 !important;
}
.dark-mode .cm-string {
  color: #8f9d6a !important;
}
.dark-mode .cm-string-2 {
  color: #bd6b18 !important;
}
.dark-mode .cm-meta {
  background-color: #141414 !important;
  color: #f7f7f7 !important;
}
.dark-mode .cm-builtin {
  color: #cda869 !important;
}
.dark-mode .cm-tag {
  color: #997643 !important;
}
.dark-mode .cm-attribute {
  color: #d6bb6d !important;
}
.dark-mode .cm-header {
  color: #FF6400 !important;
}
.dark-mode .cm-hr {
  color: #AEAEAE !important;
}
.dark-mode .cm-link {
  color: #ad9361 !important;
  font-style: italic !important;
  text-decoration: none !important;
}
.dark-mode .cm-error {
  border-bottom: 1px solid red !important;
}
.dark-mode #notebook .highlight table {
  background: #1d1f21 !important;
  color: #c5c8c6 !important;
}
.dark-mode .highlight .hll {
  background-color: #373b41 !important;
}
.dark-mode .highlight .c {
  color: #969896 !important;
}
.dark-mode .highlight .err {
  color: #c66 !important;
}
.dark-mode .highlight .k {
  color: #b294bb !important;
}
.dark-mode .highlight .l {
  color: #de935f !important;
}
.dark-mode .highlight .h,
.dark-mode .highlight .n {
  color: #c5c8c6 !important;
}
.dark-mode .highlight .o {
  color: #8abeb7 !important;
}
.dark-mode .highlight .p {
  color: #c5c8c6 !important;
}
.dark-mode .highlight .cm {
  color: #969896 !important;
}
.dark-mode .highlight .cp {
  color: #969896 !important;
}
.dark-mode .highlight .c1 {
  color: #969896 !important;
}
.dark-mode .highlight .cs {
  color: #969896 !important;
}
.dark-mode .highlight .gd {
  color: #c66 !important;
}
.dark-mode .highlight .ge {
  font-style: italic !important;
}
.dark-mode .highlight .gh {
  color: #c5c8c6 !important;
  font-weight: 700 !important;
}
.dark-mode .highlight .gi {
  color: #b5bd68 !important;
}
.dark-mode .highlight .gp {
  color: #969896 !important;
  font-weight: 700 !important;
}
.dark-mode .highlight .gs {
  font-weight: 700 !important;
}
.dark-mode .highlight .gu {
  color: #8abeb7 !important;
  font-weight: 700 !important;
}
.dark-mode .highlight .kc {
  color: #b294bb !important;
}
.dark-mode .highlight .kd {
  color: #b294bb !important;
}
.dark-mode .highlight .kn {
  color: #8abeb7 !important;
}
.dark-mode .highlight .kp {
  color: #b294bb !important;
}
.dark-mode .highlight .kr {
  color: #b294bb !important;
}
.dark-mode .highlight .kt {
  color: #f0c674 !important;
}
.dark-mode .highlight .ld {
  color: #b5bd68 !important;
}
.dark-mode .highlight .m {
  color: #de935f !important;
}
.dark-mode .highlight .s {
  color: #b5bd68 !important;
}
.dark-mode .highlight .na {
  color: #81a2be !important;
}
.dark-mode .highlight .nb {
  color: #c5c8c6 !important;
}
.dark-mode .highlight .nc {
  color: #f0c674 !important;
}
.dark-mode .highlight .no {
  color: #c66 !important;
}
.dark-mode .highlight .nd {
  color: #8abeb7 !important;
}
.dark-mode .highlight .ni {
  color: #c5c8c6 !important;
}
.dark-mode .highlight .ne {
  color: #c66 !important;
}
.dark-mode .highlight .nf {
  color: #81a2be !important;
}
.dark-mode .highlight .nl {
  color: #c5c8c6 !important;
}
.dark-mode .highlight .nn {
  color: #f0c674 !important;
}
.dark-mode .highlight .nx {
  color: #81a2be !important;
}
.dark-mode .highlight .py {
  color: #c5c8c6 !important;
}
.dark-mode .highlight .nt {
  color: #8abeb7 !important;
}
.dark-mode .highlight .nv {
  color: #c66 !important;
}
.dark-mode .highlight .ow {
  color: #8abeb7 !important;
}
.dark-mode .highlight .w {
  color: #c5c8c6 !important;
}
.dark-mode .highlight .mf {
  color: #de935f !important;
}
.dark-mode .highlight .mh {
  color: #de935f !important;
}
.dark-mode .highlight .mi {
  color: #de935f !important;
}
.dark-mode .highlight .mo {
  color: #de935f !important;
}
.dark-mode .highlight .sb {
  color: #b5bd68 !important;
}
.dark-mode .highlight .sc {
  color: #c5c8c6 !important;
}
.dark-mode .highlight .sd {
  color: #969896 !important;
}
.dark-mode .highlight .s2 {
  color: #b5bd68 !important;
}
.dark-mode .highlight .se {
  color: #de935f !important;
}
.dark-mode .highlight .sh {
  color: #b5bd68 !important;
}
.dark-mode .highlight .si {
  color: #de935f !important;
}
.dark-mode .highlight .sx {
  color: #b5bd68 !important;
}
.dark-mode .highlight .sr {
  color: #b5bd68 !important;
}
.dark-mode .highlight .s1 {
  color: #b5bd68 !important;
}
.dark-mode .highlight .ss {
  color: #b5bd68 !important;
}
.dark-mode .highlight .bp {
  color: #c5c8c6 !important;
}
.dark-mode .highlight .vc {
  color: #c66 !important;
}
.dark-mode .highlight .vg {
  color: #c66 !important;
}
.dark-mode .highlight .vi {
  color: #c66 !important;
}
.dark-mode .highlight .il {
  color: #de935f !important;
}

@media (max-width: 768px) {
  .auth-box {
    width: 100%;
    max-width: 100%;
  }
}
.auth-box .login-form {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #1DA1F2;
  padding: 1rem;
}
.auth-box .form-group {
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .auth-box .img-block {
    width: 80%;
    opacity: 0.5;
    z-index: -1;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(20%, -20%);
  }
}
.auth-box .auth-img {
  width: 100%;
}

.password-form-input {
  position: relative;
}

.show-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.turn-trigger {
  cursor: pointer;
}
.turn-trigger:hover .turn {
  animation: spinClockWise 0.3s linear forwards;
}
.turn-trigger .turn {
  transition: transform 0.7s ease;
}

.brand-txt {
  font-size: 1.1rem;
  font-family: IstokWeb, Untitled-Sans;
}

.about {
  position: relative;
}

.brand-slogan {
  text-align: center;
  font-family: Untitled-Sans;
  font-size: 3rem;
  font-weight: bold;
}
@media (max-width: 767px) {
  .brand-slogan {
    font-size: 2rem;
    text-align: left;
  }
}
.brand-slogan span {
  color: #1DA1F2;
}

.welcome-message * {
  text-align: center;
}
.welcome-message .welcome-message-wrapper {
  font-size: 1.1rem;
}
.welcome-message .btn-action .btn-join-us {
  font-size: 1rem;
  transition: transform 0.3s ease;
}
.welcome-message .btn-action .btn-join-us:hover {
  color: #ffffff;
  transform: scale(1.1);
}

.link-wrapper a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-wrapper i {
  font-size: 1.5rem;
}

.sections > .section:nth-child(odd) {
  background-color: #f9f9f9;
}
.sections > .section:nth-child(odd) .box-item {
  background-color: #ffffff;
}
.sections > .section:nth-child(odd) .timeline .content {
  background-color: #ffffff;
}
.sections > .section:nth-child(even) {
  background-color: #ffffff;
}
.sections > .section:nth-child(even) .box-item {
  background-color: #f9f9f9;
}
.sections > .section:nth-child(even) .timeline .content {
  background-color: #f9f9f9;
}

.section-header {
  margin-bottom: 3rem !important;
}

.section-title-line {
  background-color: #337AB7;
  width: 110px;
  height: 2px !important;
  margin-bottom: 15px;
  opacity: 1;
}

.section-title {
  text-transform: uppercase;
  color: #337AB7;
  font-weight: bold;
  font-size: 1.5rem;
}

.progress {
  height: 30px;
  background-color: #ccc;
  z-index: 1;
}
.progress * {
  color: #222222;
}
.progress .progress-bar {
  background-color: #dfdfdf;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  position: relative;
  text-align: left;
  padding-left: 20px;
  overflow: visible;
  white-space: nowrap;
}

/* Container around content */
/* Place the section to the left */
/* Place the section to the right */
/* The actual content */
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.timeline:after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #dfdfdf;
  top: 0;
  bottom: 1%;
  border-radius: 5px;
  left: 50%;
  margin-left: -3px;
  z-index: 0;
}
.timeline .section {
  perspective: 1000px;
  z-index: 1;
  padding: 10px 0;
  position: relative;
  background-color: inherit;
  width: 50%;
  display: inline-block;
}
.timeline .section.php:after {
  content: "\f457";
  font-family: "Font Awesome 5 Brands";
  background-color: #8892BF;
  font-weight: 900;
}
.timeline .section.code:after {
  content: "\f126";
  font-family: "Font Awesome 5 Free";
  background-color: #2F4F4F;
  font-weight: 900;
}
.timeline .section.teaching:after {
  content: "\f51c";
  font-family: "Font Awesome 5 Free";
  background-color: #EA5252;
  font-weight: 900;
}
.timeline .section.community:after {
  content: "\e533";
  font-family: "Font Awesome 5 Free";
  background-color: #1DA1F2;
  font-weight: 900;
}
.timeline .section.globe:after {
  content: "\f0ac";
  font-family: "Font Awesome 5 Free";
  background-color: #00437D;
  font-weight: 900;
}
.timeline .section.angular:after {
  content: "\f420";
  font-family: "Font Awesome 5 Brands";
  background-color: #DD0031;
  font-weight: 100;
}
.timeline .section.wordpress:after {
  content: "\f411";
  font-family: "Font Awesome 5 Brands";
  background-color: #454442;
  font-weight: 100;
}
.timeline .section.laravel:after {
  content: "\f3bd";
  font-family: "Font Awesome 5 Brands";
  background-color: #FF5050;
  font-weight: 100;
}
.timeline .section.robot:after {
  content: "\f544";
  font-family: "Font Awesome 5 Free";
  background-color: #97C024;
  font-weight: 900;
}
.timeline .section.bootstrap:after {
  content: "\f41e";
  font-family: "Font Awesome 5 Brands";
  background-color: #CD6799;
  font-weight: 100;
}
.timeline .section.csharp:after {
  content: "\f121";
  font-family: "Font Awesome 5 Free";
  background-color: #2F4F4F;
  font-weight: 900;
}
.timeline .section.laptop:after {
  content: "\f109";
  font-family: "Font Awesome 5 Free";
  background-color: #FF5050;
  font-weight: 900;
}
.timeline .section.briefcase:after {
  content: "\f0b1";
  font-family: "Font Awesome 5 Free";
  background-color: #21caeb;
  font-weight: 900;
}
.timeline .section.microsoft::after {
  content: "\f3ca";
  font-family: "Font Awesome 6 Brands";
  background-color: #071D49;
  font-weight: 400;
}
.timeline .section.abl:nth-child(even) .content {
  border-right: 3px solid #88179E;
}
.timeline .section.abl:nth-child(odd) .content {
  border-left: 3px solid #88179E;
}
.timeline .section.work:nth-child(even) .content {
  border-right: 3px solid #dc3545;
}
.timeline .section.work:nth-child(odd) .content {
  border-left: 3px solid #dc3545;
}
.timeline .section.freelance:nth-child(even) .content {
  border-right: 3px solid #9a9a9a;
}
.timeline .section.freelance:nth-child(odd) .content {
  border-left: 3px solid #9a9a9a;
}
.timeline .section.udemy:nth-child(even) .content {
  border-right: 3px solid #EA5252;
}
.timeline .section.udemy:nth-child(odd) .content {
  border-left: 3px solid #EA5252;
}
.timeline .section.grintaaa:nth-child(even) .content {
  border-right: 3px solid #7FCD17;
}
.timeline .section.grintaaa:nth-child(odd) .content {
  border-left: 3px solid #7FCD17;
}
.timeline .section.teacode:nth-child(even) .content {
  border-right: 3px solid #1DA1F2;
}
.timeline .section.teacode:nth-child(odd) .content {
  border-left: 3px solid #1DA1F2;
}
.timeline .section.mediating:nth-child(even) .content {
  border-right: 3px solid #FF9300;
}
.timeline .section.mediating:nth-child(odd) .content {
  border-left: 3px solid #FF9300;
}
.timeline .section.ehm:nth-child(even) .content {
  border-right: 3px solid #009921;
}
.timeline .section.ehm:nth-child(odd) .content {
  border-left: 3px solid #009921;
}
.timeline .section.rae:nth-child(even) .content {
  border-right: 3px solid #c5c800;
}
.timeline .section.rae:nth-child(odd) .content {
  border-left: 3px solid #c5c800;
}
.timeline .section.freelance:nth-child(even) .content {
  border-right: 3px solid #9a9a9a;
}
.timeline .section.freelance:nth-child(odd) .content {
  border-left: 3px solid #9a9a9a;
}
.timeline .section.graviton:nth-child(even) .content {
  border-right: 3px solid #DB5844;
}
.timeline .section.graviton:nth-child(odd) .content {
  border-left: 3px solid #DB5844;
}
.timeline .section.innoved:nth-child(even) .content {
  border-right: 3px solid #F76B67;
}
.timeline .section.innoved:nth-child(odd) .content {
  border-left: 3px solid #F76B67;
}
.timeline .section.dirham:nth-child(even) .content {
  border-right: 3px solid #93B7DE;
}
.timeline .section.dirham:nth-child(odd) .content {
  border-left: 3px solid #93B7DE;
}
.timeline .section.association:nth-child(even) .content {
  border-right: 3px solid #71335A;
}
.timeline .section.association:nth-child(odd) .content {
  border-left: 3px solid #71335A;
}
.timeline .section .content {
  text-align: left;
  padding: 20px;
  position: relative;
  border-radius: 6px;
  border: 1px solid #dfdfdf;
}
.timeline .section .content .function {
  color: #337AB7;
}
.timeline .section .content h2 {
  margin-bottom: 5px;
  font-weight: 600;
}
.timeline .section .content h2.function {
  font-weight: bolder;
  font-size: 1.1rem;
}
.timeline .section .content h2.where {
  font-size: 0.8rem;
}
.timeline .section .content ul {
  margin: 0;
}
.timeline .section .content, .timeline .section:before {
  opacity: 1;
  transform: rotateY(0deg);
  transition: transform 1s ease, opacity 2s ease;
}
.timeline .section:before {
  transition: transform 0.4s ease, opacity 2s ease;
}
.timeline .section:after {
  content: "\f19d";
  position: absolute;
  width: 40px;
  height: 40px;
  right: -20px;
  top: 13px;
  border: 4px solid #dfdfdf;
  border-radius: 50%;
  z-index: 1;
  line-height: 32px;
  color: #ffffff;
  font-weight: bolder;
  font-size: 1.2rem;
  text-align: center;
}
.timeline .section:nth-child(even) .content, .timeline .section:nth-child(odd):before {
  transform-origin: left;
}
.timeline .section:nth-child(odd) .content, .timeline .section:nth-child(even):before {
  transform-origin: right;
}
.timeline .section:nth-child(odd) {
  padding-right: 30px;
}
.timeline .section:nth-child(odd) .content {
  border-left: 3px solid #00437D;
}
.timeline .section:nth-child(odd):before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 20px;
  border: medium solid #ffffff;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #dfdfdf;
}
.timeline .section:nth-child(even) {
  padding-left: 30px;
  left: 50%;
}
.timeline .section:nth-child(even) .content {
  border-right: 3px solid #00437D;
}
.timeline .section:nth-child(even):after {
  left: -20px;
}
.timeline .section:nth-child(even):before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 20px;
  border: medium solid #ffffff;
  border-width: 10px 10px 10px 0;
  border-color: transparent #dfdfdf transparent transparent;
}
.timeline .section ul {
  padding: 0 0 0 20px;
}

.education .timeline .section:after {
  color: #00437D;
  background-color: #ffffff;
  font-weight: bolder;
  font-family: "Font Awesome 5 Free";
}

@media screen and (max-width: 768px) {
  .timeline:after {
    left: 20px;
  }
  .timeline .section {
    width: 100%;
    padding-left: 50px !important;
    padding-right: 0 !important;
  }
  .timeline .section:nth-child(odd), .timeline .section:nth-child(even) {
    left: 0;
  }
  .timeline .section:nth-child(odd)::after, .timeline .section:nth-child(even)::after {
    left: 0;
  }
  .timeline .section:nth-child(even):before {
    left: 40px;
  }
  .timeline .section:nth-child(odd):before {
    transform: rotateZ(180deg);
  }
  .timeline .section:before {
    left: 50px;
    border: medium solid #fff;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
  }
  .timeline .section.abl .content {
    border-right: 3px solid #88179E !important;
  }
  .timeline .section.work .content {
    border-right: 3px solid #dc3545 !important;
  }
  .timeline .section.freelance .content {
    border-right: 3px solid #9a9a9a !important;
  }
  .timeline .section.teacode .content {
    border-right: 3px solid #1DA1F2 !important;
  }
  .timeline .section.udemy .content {
    border-right: 3px solid #EA5252 !important;
  }
  .timeline .section.teacode .content {
    border-right: 3px solid #1DA1F2 !important;
  }
  .timeline .section.grintaaa .content {
    border-right: 3px solid #7FCD17 !important;
  }
  .timeline .section.mediating .content {
    border-right: 3px solid #FF9300 !important;
  }
  .timeline .section.ehm .content {
    border-right: 3px solid #009921 !important;
  }
  .timeline .section.rae .content {
    border-right: 3px solid #c5c800 !important;
  }
  .timeline .section.freelance .content {
    border-right: 3px solid #9a9a9a !important;
  }
  .timeline .section.graviton .content {
    border-right: 3px solid #DB5844 !important;
  }
  .timeline .section.freelance .content {
    border-right: 3px solid #9a9a9a !important;
  }
  .timeline .section.innoved .content {
    border-right: 3px solid #F76B67 !important;
  }
  .timeline .section.dirham .content {
    border-right: 3px solid #93B7DE !important;
  }
  .timeline .section.association .content {
    border-right: 3px solid #71335A !important;
  }
  .timeline .section .content {
    border-right: 3px solid #00437D;
    border-left: 1px solid #dfdfdf !important;
    transform-origin: center !important;
  }
}
.box-item {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 5px !important;
}
.box-item .box-header {
  margin-bottom: 1rem !important;
}
.box-item .box-header .box-header-txt h1 {
  font-size: 1.05rem;
}
.box-item .box-header .box-icon {
  padding: 0.1rem;
  width: 30px;
  height: 30px;
  border: 1px solid #337AB7;
  border-radius: 50px;
  transition: transform 0.1s linear;
  overflow: hidden;
}
.box-item .box-header .box-icon:hover img {
  transform: scale(1.3);
}
.box-item .box-header .box-icon img {
  transition: transform 0.3s linear;
  width: 100%;
  position: relative;
}
.box-item .box-body {
  padding-left: 1.1rem !important;
}
.box-item .box-body p {
  font-size: 1rem;
}

.posts .post {
  border: 1px solid #dfdfdf;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(214, 219, 226, 0.5), 0 1px 2px rgba(214, 219, 226, 0.5);
  transition: transform 0.15s ease-out, opacity 0.15s ease-out, box-shadow 0.15s ease-out;
}
.posts .post:hover {
  box-shadow: 0 0.5rem 2.5rem #d8dee6;
  transform: translateY(-2px);
}
.posts .post .post-title * {
  color: #337AB7;
  font-size: 1.25rem;
}
.posts .post .post-tags a {
  color: #222222;
}
.posts .post .post-image img {
  border-radius: 5px;
  filter: drop-shadow(2px 4px 6px #09182F);
}
.posts .post .post-cover {
  height: 150px;
  background-position: center;
  background-size: cover;
}
.posts .post .post-data {
  padding: 1.25rem;
}
.posts .post .post-content {
  font-size: 1rem;
}
.posts .post .post-content img {
  width: 100%;
  padding: 0;
  border: 2px inset #337AB7;
}
.posts .post .post-content iframe {
  border: 2px dashed #337AB7;
}
.posts .post .post-content p, .posts .post .post-content iframe {
  margin-bottom: 1rem;
}
.posts .post .post-content p:last-child, .posts .post .post-content iframe:last-child {
  margin-bottom: 0;
}
.posts .post .btn-read-more a {
  color: #222222;
}

.post-page .post .post-title * {
  color: #337AB7;
}
.post-page .post .wp-block-image {
  cursor: pointer;
}
.post-page .post .wp-block-image img {
  width: 100%;
}
.post-page .post p {
  margin-bottom: 1rem;
}
.post-page .post-cover {
  height: 200px;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.pagination-wrapper {
  display: flex;
}
.pagination-wrapper * {
  transition: unset;
}
.pagination-wrapper *:focus {
  box-shadow: unset;
}
.pagination-wrapper .page-item.active .page-link {
  border: none;
  color: #222222;
  background-color: #ffffff;
}
.pagination-wrapper .page-item.disabled .page-link {
  color: #222222;
  background-color: #ffffff;
}
.pagination-wrapper .page-item .page-link {
  border: none;
  color: #1DA1F2;
}
.pagination-wrapper .page-item .page-link:hover {
  background-color: #ffffff;
}
.pagination-wrapper .page-item a {
  color: #222222;
}

.not-found-bar {
  height: 25px;
  background-color: #1da1f2;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.not-found-bar span {
  height: 15px;
  width: 15px;
  background-color: #fff;
  display: inline-block;
  border-radius: 50%;
  margin-left: 5px;
}

.not-found-header {
  height: 15px;
  background-color: #fff;
}

.not-found-body {
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 0 0 10px 10px;
  padding: 20px;
}

.not-found-body .row {
  padding: 0 10px;
}

.not-found-body i {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 7.5rem;
}

.not-found-txt {
  margin: 20px 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Harmattan";
}

/*# sourceMappingURL=app.css.map*/