.menu
    position: sticky
    top: 0
    z-index: 9999
    backdrop-filter: blur(4px)

.header-menu-wrapper .header-menu
    .header-menu-item
        &:after
            background-color: $tc-blue-dark-2
        a
            text-decoration: none
            color: $tc-blue-dark-2
