.posts
    //border-top: 1px solid $tc-grey
    //background-color: $tc-white
    .post
        padding: 20px
        background-color: var(--tc-grey-light)
        //background-color: $tc-grey-light-2
        //border: 1px solid $tc-grey
        overflow: hidden
        border-radius: 10px
        box-shadow: 0 1px 2px rgba(214, 219, 226, 0.5), 0 1px 2px rgba(214, 219, 226, 0.5)
        transition: transform 0.15s ease-out, opacity 0.15s ease-out, box-shadow 0.15s ease-out
        &:hover
            box-shadow: 0 0.2rem 1rem #d8dee6
            transform: translateY(-2px)
        .post-title
            .post-title-content
                text-overflow: ellipsis
                white-space: nowrap
                overflow: hidden
            *
                color: var(--tc-blue-dark-1)
                font-size: 1.25rem
        .post-metadata
            font-family: IstokWeb, serif
            font-size: 1rem
        .post-image img
            // border: 5px solid $tc-blue-dark-1
            border-radius: 5px
            filter: drop-shadow(2px 4px 6px var(--tc-blue-dark-3))
        .post-cover
            height: 200px
            border-radius: 10px
            overflow: hidden
            img
                width: 100%
                height: 100%
                object-fit: cover
                object-position: center
        .post-data
            padding-top: 1.25rem
        .post-content
            font-size: 1rem
            img
                width: 100%
                padding: 0
                border: 2px inset var(--tc-blue-dark-1)
            iframe
                border: 2px dashed var(--tc-blue-dark-1)
            p, iframe
                margin-bottom: 1rem
                &:last-child
                    margin-bottom: 0
        .btn-read-more a
            color: var(--tc-black)

.post-title.header-txt
    text-transform: unset
    font-size: 2rem
    line-height: 2.5rem

.post-page
    //*:not(i)
    //    font-family: Untitled-Sans
    h1,h2,h3,h4,h5,h6
        margin-top: 3rem
        margin-bottom: 1rem
        font-weight: bold
    ul, ol
        font-size: 1.2rem
        padding-left: 2rem
    p
        font-size: 1.2rem
        margin-bottom: 1rem
        line-height: 2.2rem
    a
        color: var(--tc-blue)
        text-decoration: underline
    li, li *
        color: var(--tc-blue-dark-1)
        text-decoration: unset
    .post
        .post-title *
            font-size: 2.5rem
            color: var(--tc-blue-dark-1)
            @media(max-width: 576px)
                font-size: 1.5rem
        img
            //cursor: pointer
            width: 100%
            height: auto
            max-width: 100%
            border-radius: 5px
            box-shadow: 0 0 0 0 transparent
            transition: box-shadow .2s linear
            &:hover
                box-shadow: 0 0 10px 1px var(--tc-grey-light-3)
        //p
        //    margin-bottom: 1rem
    .post-date, .highlight-box
        background-color: var(--tc-grey-light-1)
        border-radius: 0.4rem
        padding: 0.5rem 1rem
    .post-cover
        height: 200px
        background-size: cover
        background-position: top center
        background-attachment: fixed
    .toolbar .toolbar-item
        margin-right: .5rem
    pre
        border-radius: 10px
        &:is([class*=language]) code
            padding: 1rem
            font-size: .9rem
            display: block
    code
        padding: 0 5px
        border-radius: 5px
        font-size: 1rem
        display: inline-block
        line-height: 1.7rem
        font-family: 'Fira Code', serif
        color: var(--tc-black)
        background-color: var(--tc-grey-light-4)
    code[class*=language-], pre[class*=language-] code
        font-family: 'Fira Code', serif
        font-size: 0.9rem
        line-height: 1.9rem
    .btn-like-post
        transition: background-color .3s linear, border-color .1s linear
    .report-actions
        border-radius: 0
        border-left: 4px solid var(--tc-blue-dark-1)
        p
            font-size: 1rem
            line-height: 1.5rem

.post-tags
    *
        color: var(--tc-grey-fancy)
    a
        text-decoration: none

.post
    .post-tags
        display: flex
        flex-direction: row
        column-gap: 10px
        flex-wrap: wrap
        .post-tag
            //border: 1px solid $tc-black-light
            //border-radius: 50px
            //padding: 0 5px
            //background-color: $tc-grey-dark
            a
                color: var(--tc-white)

pre, code
    position: relative
    &.spinner
        &:after
            content: ''
        &:before
            content: ''
            box-sizing: border-box
            position: absolute
            top: 50%
            left: 50%
            width: 20px
            height: 20px
            margin-top: -10px
            margin-left: -10px
            border-radius: 50%
            border: 2px solid var(--tc-grey-light-2)
            border-top-color: var(--tc-blue-dark-5)
            animation: spinClockWise .6s linear infinite
.code-data
    position: absolute
    top: 12px
    right: 8px
    *
        color: var(--tc-white) !important
        font-size: .8rem
    .btn-copy
        cursor: pointer
        border-radius: 10px
        padding: 5px 8px
        background-color: var(--tc-blue-dark-2)
        border: unset
        &:hover
            background-color: var(--tc-blue-dark-1)

    .code-language
        margin-right: 5px
        // color: $tc-black !important
        padding: 5px 8px
        border-radius: 10px
        background-color: var(--tc-blue-dark-3)



body.dark-mode
    .post
        code
            color: var(--tc-white)
            background-color: var(--tc-black-almost)
        .post-date, .highlight-box
            background-color: var(--tc-blue-dark-4)
    .post-tags *
        color: var(--tc-grey-dark)
    .post-page
        li, li *
            color: var(--tc-blue-dark-1)

    .posts
        .post
            //border: 1px solid $tc-blue
            box-shadow: 0 1px 2px rgba(from var(--tc-blue-dark-2) r g b / 0.5), 0 1px 2px rgba(from var(--tc-blue-dark-2) r g b / 0.5)
            background-color: var(--tc-blue-dark-4)
            .post-title *
                color: var(--tc-blue)
            //.post-data
            //    background-color: $tc-blue-dark-4
                //*
                    //color: $tc-black
            &:hover
                box-shadow: 0 0.2rem 1rem var(--tc-blue-dark-2)
            //.post-title h2,
            .btn-read-more a
                color: var(--tc-grey-light)
        .post-form
            background-color: var(--tc-blue-dark-3)
            .post-body-wrapper
                svg
                    color: var(--tc-white)
                *
                    color: var(--tc-black-almost)
