.posts
    border-top: 1px solid $tc-grey
    background-color: $tc-white
    .post
        .post-title h2
            color: $tc-blue-dark-1
            font-size: 2rem
        .post-image img
            // border: 5px solid $tc-blue-dark-1
            border-radius: 5px
            filter: drop-shadow(2px 4px 6px $tc-blue-dark-3)
        .post-content
            font-size: 18px
            img
                padding: 0
                border: 2px inset $tc-blue-dark-1
            iframe
                border: 2px dashed $tc-blue-dark-1
            p, iframe
                margin-bottom: 1rem
                &:last-child
                    margin-bottom: 0
        .btn-read-more a
            color: $tc-blue-dark-1
