body .dark-mode .table
    tr td, tr th
        color: $tc-white
.table
    th, td
        text-align: center !important
        letter-spacing: 0 !important
        font-size: 0.8rem !important
        padding: 0.5rem !important
        .form-control-sm
            padding: 0.25rem
    td
        overflow-x: hidden
        white-space: nowrap
        text-overflow: ellipsis
