$tc-white: #ffffff;
$tc-blue-light-1: #8fd4ff;
$tc-blue: #1DA1F2;
$tc-blue-dark-1: #337AB7;
$tc-blue-dark-2: #00437D;
$tc-blue-dark-3: #09182F;
$tc-blue-dark-4: #0e2547;
$tc-blue-dark-5: #051b3c;
$tc-grey: #dfdfdf;
$tc-grey-light: #f9f9f9;
$tc-grey-light-1: #f3f3f3;
$tc-grey-light-2: #fafafa;
$tc-grey-light-3: #ccc;
$tc-grey-light-4: #e5e5e5;
$tc-grey-dark: #b1b1b1;
$tc-grey-fancy: #49556B;
$tc-black-fancy: #0F2547;
$tc-purple: #733FC8;
$tc-black-light: #707070;
$tc-black: #222222;
$tc-black-almost: #313a3f;
$tc-black-almost-1: #2c2f33;
$tc-yellow-0: #fff200;
$tc-yellow: #FFC700;
$tc-oil: #c5c800;
$tc-green-light: #97C024;
$tc-green: #45a704;
$tc-red-light: #DB5844;
$tc-orange-red: #E78E0A;
$navbar-height: 56px;

:root {
    --tc-white: #ffffff;
    --tc-blue-light-1: #8fd4ff;
    --tc-blue: #1DA1F2;
    --tc-blue-dark-1: #337AB7;
    --tc-blue-dark-2: #00437D;
    --tc-blue-dark-3: #09182F;
    --tc-blue-dark-4: #0e2547;
    --tc-blue-dark-5: #051b3c;
    --tc-grey: #dfdfdf;
    --tc-grey-light: #f9f9f9;
    --tc-grey-light-1: #f3f3f3;
    --tc-grey-light-2: #fafafa;
    --tc-grey-light-3: #ccc;
    --tc-grey-light-4: #e5e5e5;
    --tc-grey-dark: #b1b1b1;
    --tc-grey-fancy: #49556B;
    --tc-black-fancy: #0F2547;
    --tc-purple: #733FC8;
    --tc-black-light: #707070;
    --tc-black: #222222;
    --tc-black-almost: #313a3f;
    --tc-black-almost-1: #2c2f33;
    --tc-yellow-0: #fff200;
    --tc-yellow: #FFC700;
    --tc-oil: #c5c800;
    --tc-green-light: #97C024;
    --tc-green: #45a704;
    --tc-red-light: #DB5844;
    --tc-orange-red: #E78E0A;
    --navbar-height: 56px;
}
