
.about
    // margin-top: 70px
    // margin-top: -56px
    position: relative
    //     margin-top: $navbar-height
    // .about-header
    // margin-top: 66px

    @media (max-width: 767px)
        .about-me-txt
            z-index: 1
            position: relative
        .img-wrapper
            position: absolute
            z-index: 0
            top: 0
            right: 0
            opacity: 0.2

.about-page
    .about-me-txt
        a
            text-decoration: underline
        p
            font-size: 1.1rem
            margin-bottom: 0.7rem
            line-height: 2.2rem
