
.get-in-touch
    position: relative
    .form-control
        background-color: var(--tc-grey-light)
        border-color: transparent transparent var(--tc-grey-light-3) transparent
        border-radius: 0
    textarea.form-control
        height: 200px
        min-height: 150px
        max-height: 300px
    .current-text-length
        position: absolute
        top: 5px
        right: 5px
        color: #bbb
    .form-floating > .form-control:focus ~ label:after
        background-color: transparent
    .contact-form-response
        margin-top: 0.7rem
        &.tc-alert-nok *
            color: var(--tc-red-light)
        &.tc-alert-ok *
            color: var(--tc-blue)
    @media (max-width: 767px)
        .contact-form
            z-index: 1
            position: relative
        .img-wrapper
            position: absolute
            z-index: 0
            top: 0
            right: 0
            opacity: 0.2

    .btn-send.loading-spinner:after
        content: unset

body.dark-mode
    .get-in-touch
        .form-control
            border-color: transparent transparent var(--tc-blue) transparent
        .form-floating > label
            color: var(--tc-white)
        .form-control, .form-control:focus
            background-color: var(--tc-blue-dark-5)
