
.get-in-touch
    position: relative
    @media (max-width: 767px)
        .contact-form
            z-index: 1
            position: relative
        .img-wrapper
            position: absolute
            z-index: 0
            top: 0
            right: 0
            opacity: 0.2

.current-text-length
    position: absolute
    top: 5px
    right: 5px
    color: #bbb
