


.services
    .service-box
        border-radius: 5px
        padding: 0.5rem
        text-align: center
        *
            color: $tc-blue-dark-2
        .service-icon
            padding: 1rem
            font-size: 2.5rem
        .service-title
            font-size: 1.2rem
        @media (min-width: 576px)
            padding: 1.25rem
            .service-icon
                font-size: 3.5rem
            .service-title
                font-size: 1.5rem

.get-in-touch
    .form-control
        border-color: $tc-blue
    textarea.form-control
        height: 200px
        min-height: 150px
        max-height: 300px
    .form-floating > .form-control:focus ~ label:after
        background-color: transparent


.skills
    .skill-item
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        column-gap: 5px
        margin-bottom: 2rem
    .skill-icon
        display: flex
        font-size: 3rem
        margin-bottom: .5rem
        i
            color: $tc-blue-dark-2
    .skill-text
        font-size: 1rem

body.dark-mode
    .skill-icon i
        color: $tc-white

    .get-in-touch .form-floating
        > label
            color: $tc-white

    .services .service-box *
        color: $tc-white

.community
    .container > .row:nth-child(2)
        flex-direction: row
        @media (max-width: 768px)
            flex-direction: column-reverse
            .community-description
                text-align: center
            .img-wrapper
                display: none
    .community-description p
        font-size: 1.1rem
        margin-bottom: 0.7rem
    .img-wrapper
        box-shadow: 5px 5px 5px 0 $tc-blue
        border-radius: 10px
        overflow: hidden
