


.services
    .service-box
        border-radius: 5px
        padding: 1.25rem
        text-align: center
        .service-icon
            padding: 1rem
            font-size: 3rem

.get-in-touch
    textarea
        min-height: 150px
        max-height: 300px


